<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Cloudinary Tutorial</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="../public/index.js"></script>
</head>

<body>
  <form action="" id="form">
    <p><label for="name">Name:</label>
      <input required type="text" name="" id="name"></p>
    <p><label for="desc">Description:*Not more than 80 chars*</label>
      <input required type="text" name="" id="desc"></p>
    <p><label for="categ">Category:</label>
      <input required type="text" name="" id="categ"></p>
    <p><label for="hash">Hashtags:(space seperated)</label>
      <input required type="text" name="" id="hash"></p>
    <p><label for="file-upload">Logo Image:</label>
      <input required id="file-upload" type="file">
    </p>
    <p><button type="submit">GO BXTCH</button></p>
  </form>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>