<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>

<body style="text-align: center;">
  <h2>Login:</h2>
  <form action="/signin" method="POST">
    <p><label for="user">Username:</label></p>
    <p><input type="text" name="username" id="user"></p>
    <p><label for="pass">Password:</label></p>
    <p><input type="password" name="password" id="pass"></p>
    <p><%= typeof msg != 'undefined' ? msg : '' %></p>
    <p><button type="submit">LOG IN</button></p>
  </form>
</body>

</html>